body {
  background-color: rgb(28, 137, 200);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculate-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 4rem;
}

.value-container {
  display: flex;
  flex-direction: column;
}

.value-container input {
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.value-container input::placeholder {
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 2rem;
  border-radius: 0.25rem;
  background-color: white;
  color: rgb(28, 137, 200);
  cursor: pointer;
  transition: 0.5s all;
}

button:hover {
  background-color: rgb(13, 85, 126);
  color: white;
  border: 1px solid white;
}
